* { box-sizing: border-box; }

.grid-canvas{
	width:950px;
	margin:10px auto;
	
}

.grid-canvas.horizontal{
	height:390px;
	overflow: auto;
}
.grid-container{
	margin:0 auto;
}
.grid-canvas.horizontal>.grid-container{
	height:100%;
}
.grid-canvas.horizontal .grid-item{
	margin-bottom: 0px;
	margin-top:10px;
}
.grid-container:after {
  content: '';
  display: block;
  clear: both;
}
.dev .grid-canvas, .dev .grid-container {border:1px solid #ccc;}
.grid-item{
	position: relative;
	float:left;
	background: #15294f;
	width:180px;
	height:180px;
	display:table;
	margin-bottom: 10px;
}
.grid-item .item:hover{
	text-decoration: none !important;
	color:#fff !important;

}
.grid-item.tall{
	height:560px;
}
.grid-item img{
	max-height: 170px;
}
.grid-item.tall img{
	max-width: 360px;
	max-height: 550px;
}
.grid-item.wide{
	width:370px;	
}
.grid-item.white{
	background:#fff;
	border: 1px solid #b8b8b8;
	padding:5px;
}
.item{
	color:white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.main-carousel{
	width:940px;
	margin:0 auto;
}

.main-carousel .carousel-cell{
	height:370px;
	width:180px;
	margin-right:10px;
}
.flickity-prev-next-button.next{
	right: -60px;
    background: none;
}
.flickity-prev-next-button.previous{
	left:-60px;
	background: none;
}

.mini-carousel{
	width:75%;
	margin:0 auto;
}
.mini-carousel .carousel-cell{
	width:60px;
	height:60px;
	margin-right:10px;
}
.mini-carousel .grid-item{
	width:60px;
	height:60px;
}
.mini-carousel .flickity-prev-next-button.next{
	right:-45px;
}

.mini-carousel .flickity-prev-next-button.previous{
	left:-45px;
}

@media (max-width: 992px){
	.main-carousel{
		width:850px;
	}
}