.white .item{
	background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.celine{
	background-image:url('../img/jewel/preview/atta/celine.png');
	background-size: cover !important;
}
.ciara{
	background-image:url('../img/jewel/preview/atta/ciara.png');
}
.rachel{
	background-image:url('../img/jewel/preview/atta/rachel.png');
}
