.white .item{
	background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.celine{
	background-image:url('../img/jewel/preview/atta/celine.png');
	background-size: cover !important;
}
.ciara{
	background-image:url('../img/jewel/preview/atta/ciara.png');
}
.rachel{
	background-image:url('../img/jewel/preview/atta/rachel.png');
}

.attachment8{
	background-image:url('../img/jewel/preview/atta/attachment8.png');
}
.diana{
	background-image:url('../img/jewel/preview/atta/diana.png');
}
.emma{
	background-image:url('../img/jewel/preview/atta/emma.png');
}
.kelly{
	background-image:url('../img/jewel/preview/atta/kelly.png');
}
.sam{
	background-image:url('../img/jewel/preview/atta/sam.png');
}
.martine,.attachment9{
	background-image:url('../img/jewel/preview/atta/attachment9.png');
}
.mari{
	background-image:url('../img/jewel/preview/atta/mari.png');
}
.mari-plain{
	background-image:url('../img/jewel/preview/atta/mari-plain.png');
}
.a1{
	background-image:url('../img/jewel/preview/atta/a1.png');
}
.a2{
	background-image:url('../img/jewel/preview/atta/a2.png');
}
.a3{
	background-image:url('../img/jewel/preview/atta/a3.png');
}
.a4{
	background-image:url('../img/jewel/preview/atta/a4.png');
}
.a10{
	background-image:url('../img/jewel/preview/atta/a10.png');
}
.a11{
	background-image:url('../img/jewel/preview/atta/a11.png');
}
.stella{
	background-image:url('../img/jewel/preview/atta/stella.png');
}
.vivianrg{
	background-image:url('../img/jewel/preview/atta/vivianrg.png');
}
.vivianwg{
	background-image:url('../img/jewel/preview/atta/vivianwg.png');
}
.jasmine-sm{
	background-image:url('../img/jewel/preview/atta/jasmine-sm.png');
}